<br><br>
<h1>Login</h1>
<form method="post" action="/login">
   Email: <input name="email" type="email"><br>
   Password: <input name="password" type="password"><br>
   <input type="submit" value="login">
</form>