<!DOCTYPE html>
<html>
    <head>
        <title>That's Life...</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <meta charset="UTF-8"> #require CSS here
    </head>
    <body>
        <h1>Post at your own risk...</h1>
        <%= yield %>
    </body>
</html>
